.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 12.5rem;
    border: 1px solid gray;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
  
.card img{
    width: 100%;
    height: auto;
}

.card .text{
    margin-left: 1rem;
}

.card .text button{
    background-color: #4084FC;
    color: white;
    border: none;
    width: 50%;
    font-size: 0.7rem;
    border-radius: 5%;
    padding: 0.4rem 0rem;
    margin-bottom: 1rem;
}

.card .text h3{
    margin-top: 10%;
    font-size: 0.9rem;
}

.card .text p{
    font-size: 0.7rem;
}